<div id="miniatureForm">
<form [formGroup]="miniatureForm" class="miniatureForm">
    <div class="miniatureForm">
    <label for="name">
      Name:  
    </label>
    <input id="name" type="text" [(ngModel)] = "name" formControlName="name" />
    </div>
    <div class="miniatureForm">
    <label for="game">
      Game:  
    </label>
    <input id="game" type="text" [(ngModel)] = "game" formControlName="game" />
    </div>
    <div class="miniatureForm">
    <label for="keywords">
      Keywords:  
    </label>
    <input id="keywords" type="text" [(ngModel)] = "keywords" formControlName="keywords" />
</div>
<button (click) = "addNew()">Add</button>
</form>



</div>
<div class="miniature-list">
    <table mat-table [dataSource]="miniatureList">
    <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let miniature"> {{miniature.name}} </td>
        </ng-container>
    
    <!-- Game -->
        <ng-container matColumnDef="game">
            <th mat-header-cell *matHeaderCellDef> Game </th>
            <td mat-cell *matCellDef="let miniature"> {{miniature.game}} </td>
          </ng-container>
    
    <!-- Keywords -->
    <ng-container matColumnDef="keywords">
        <th mat-header-cell *matHeaderCellDef> Keywords </th>
        <td mat-cell *matCellDef="let miniature"> {{miniature.keywords}} </td>
      </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
